{% extends "base.html" %} 


{% block content %} 
{% if request.user.is_authenticated %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("https://wallpaperaccess.com/full/3658919.jpg");
            background-repeat: no-repeat;
            background-position: right top;
            background-size: 1080px,1080px;
            background-blend-mode: darken;  
        }
    </style>
    <div style = 'margin-top:30px;'>
        <form method = 'POST'>     {% csrf_token %}
            <p>ARE YOU SURE YOU WANT TO LOG OUT? </p>
            <button type = 'submit'> yes, logout </button>
        </form>
    </div>
{% else %}
    <p> YOU'RE NOT LOGGED IN. WOULD YOU LIKE TO  <a href='/login/'>login</a>?</p>
{% endif %}
{% endblock %}
